@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kanit:wght@200&family=Noto+Sans+Thai:wght@200;300&display=swap");
.row {
  display: flex;
  flex-direction: row;
}

.logo {
  background-image: url("../photos/HOMEMA.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}

.text-content {
  color: black;
  font-family: "Noto Sans Thai", sans-serif;
}
